* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    background-color: #ffffff;
    font-family: 'Roboto medium';
}
@font-face {
    font-family: 'Roboto medium';
    src: url(./Fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto light';
    src: url(./Fonts/Roboto-Light.ttf);
}

/* Navbar Started*/
.nav-main {
    margin: 0px 50px 0px 120px;
}
.nav-sub-main > img {
    width: 100%;
}
/* Navbar Ended */

/* Banner Started */
.banner-main-div {
    margin: 40px 50px 0px 120px;
    column-gap: 60px;
}
.banner-sub-main-div {
    flex-basis: 43%;
}
.banner-sub-main-div a:first-of-type {
    background-color: #149f39;
    font-family: 'Roboto light';
}
.banner-sub-main-div a:last-of-type {
    background-color: #ffc066;
}
.banner-sub-main-div p:first-of-type {
    font-size: 7rem;
}
.banner-sub-main-div p:last-of-type {
    font-size: 1.15rem;
}


/* Banner Ended */

@media (max-width: 1024px) {
    .nav-main {
        margin: 0px 25px 0px 65px;
    }
}
@media (max-width: 600px) {
    .nav-main {
        margin: 0px 25px 0px 25px;
    }
}
@media (max-width: 375px) {
    .nav-main {
        margin: 0px 25px 0px 25px;
    }
    .nav-sub-main > img {
        width: 85%;
    }
}
@media (max-width: 320px) {
    .nav-main {
        margin: 0px 15px 0px 15px;
    }
    .nav-sub-main > img {
        width: 75%;
    }
}